@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.custom-shadow.box {
  box-shadow: 0 4px 8px rgba(68, 183, 255, 0.5) /* Example with a red shadow */
}

.button.is-text {
  text-decoration: none; /* Remove underline */
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  padding: 0; /* Remove button padding */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.button.is-text:hover {
  text-decoration: none; /* Ensure underline does not appear on hover */
}